<div class="sushi">
  <div class="sushi-title">
  <p>{{this.sushi_name}}</p>
  </div>
  {{#if eaten}}
    <div data-id="{{this.id}}" class="sushi-button deleteSushi"><div class="icon"><i class="far fa-trash-alt"></i></div></div>
  {{else}}
    <div data-id="{{this.id}}" class="sushi-button eatSushi"><p>EAT</p></div>
  {{/if}}
</div>