<div id="left"></div>
<div id="right"></div>
<div id="bottom"></div>

<header id="top">
  <h2>Sushi Time!</h2>
  <form class="add-sushi">
    <button type="submit"><img src="/assets/img/sushi.svg" width="35px"></img></button>
    <div class="form-group">
      <input type="text" id="name" name="name" placeholder="Add sushi..." />
    </div>
  </form>
</header>


<nav class="cool-header">
<div class="container">
  <div class="panel">
    <h3>Eat Me!</h3>
  </div>
  <div class="panel">
    <h3>Sushi you've eaten!</h3>
  </div>
    </div>
</nav>

<main class="container">
  
  <div class="panel">



    {{#each sushis}}
      {{#unless eaten}}
         {{> sushi-item eaten=false}}
      {{/unless}}
    {{/each}}

  </div>
  <div class="panel">

    {{#each sushis}}
      {{#if eaten}}

        {{> sushi-item eaten=true}}
      {{/if}}
    {{/each}}

  </div>

</main>